<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207209046806-uluvobect4466sk315iepmrj8nk1j716.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207209046806-uluvobect4466sk315iepmrj8nk1j716</string>
	<key>API_KEY</key>
	<string>AIzaSyA910TYuBskz-UwVDnj_gNcYShZAFXk5zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>207209046806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>authentication-57982</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-57982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207209046806:ios:f1e1e36f1eebf5f1b76637</string>
</dict>
</plist>